$base-fonts: "Tahoma", "Verdana", sans-serif;
$base-font-size: 14px;
$output-fonts: "Liberation Mono", "Lucida Console", "Courier", monospace;
$output-font-size: 14px;

$crit-color: #ff5566;
$crit-color-ack: #ff99aa;
$warn-color: #ffaa44;
$warn-color-ack: #ffcc66;
$unkn-color: #aa44ff;
$unkn-color-ack: #cc77ff;
$ok-color: #44bb77;
$output-color: #7f7f7f;
$comment-color: #7f7f7f;
$hover-color: #f5fdff;
$pending-color: #77aaff;

$comment-margin-top: 0.3em;
$output-margin-top: 0.5em;
$left-border-width: 5px;

body
{
    font-family: $base-fonts;
    font-size: $base-font-size;
}

h1
{
    display: none;
}

tr:hover
{
    background-color: $hover-color;
}

td
{
    padding: 0.3em 1em;
    vertical-align: top;
}

.header-message
{
    padding: 0.3em 1em;
    border-left-width: $left-border-width;
    border-left-style: solid;

    .error
    {
        background-color: $crit-color;
        border-left-color: $crit-color;
        color: #ffffff;
    }
}

.icinga-status
{
    .entry-output
    {
        margin-top: $output-margin-top;
        font-family: $output-fonts;
        color: $output-color;
        white-space: pre-wrap;
    }

    .entry-comment
    {
        margin-top: $comment-margin-top;
        color: $comment-color;
    }

    .status-type
    {
        text-transform: uppercase;
    }

    .status-box
    {
        border-left-width: $left-border-width;
        border-left-style: solid;
    }

    .host.host-down, .host.host-warning, .service.service-critical
    {
        &.unacknowledged .status-box
        {
            background-color: $crit-color;
            border-left-color: $crit-color;
            color: #ffffff;
        }

        &.acknowledged .status-box
        {
            border-left-color: $crit-color-ack;
            color: #000000;
        }
    }

    .service.service-warning
    {
        &.unacknowledged .status-box
        {
            background-color: $warn-color;
            border-left-color: $warn-color;
            color: #ffffff;
        }

        &.acknowledged .status-box
        {
            border-left-color: $warn-color-ack;
            color: #000000;
        }
    }

    .host.host-unknown, .service.service-unknown
    {
        &.unacknowledged .status-box
        {
            background-color: $unkn-color;
            border-left-color: $unkn-color;
            color: #ffffff;
        }

        &.acknowledged .status-box
        {
            border-left-color: $unkn-color-ack;
            color: #000000;
        }
    }

    .host.host-pending, .service.service-pending
    {
        .status-box
        {
            border-left-color: $pending-color;
            color: #000000;
        }
    }

    .host.host-up, .service.service-ok
    {
        .status-box
        {
            border-left-color: $ok-color;
            color: #000000;
        }
    }
}

.service-matrix
{
    .host-header
    {
        vertical-align: bottom;
    }

    .service-group-name
    {
        white-space: nowrap;
        height: 12em;
        padding: 0.3em 0.4em;

        .rotator
        {
            transform: translate(0px, 10.5em) rotate(-45deg);
            width: 1em;
        }
    }

    .host .host-warning
    {
        background-color: $warn-color;
        color: #ffffff;
    }

    .host .host-critical
    {
        background-color: $crit-color;
        color: #ffffff;
    }

    .host .host-unknown
    {
        background-color: $unkn-color;
        color: #ffffff;
    }

    .service-group-status
    {
        padding: 0;
        min-width: 1em;
        min-height: 1em;
    }

    .service-group-status.service-group-critical
    {
        background-color: $crit-color;
    }

    .service-group-status.service-group-warning
    {
        background-color: $warn-color;
    }

    .service-group-status.service-group-unknown
    {
        background-color: $unkn-color;
    }

    .service-group-status.service-group-ok
    {
        background-color: $ok-color;
    }

    .service-group-status .service-count
    {
        display: none;
    }
}
