body {
  font-family: "Tahoma", "Verdana", sans-serif;
  font-size: 14px; }

h1 {
  display: none; }

tr:hover {
  background-color: #f5fdff; }

td {
  padding: 0.3em 1em;
  vertical-align: top; }

.icinga-status .entry-output {
  margin-top: 0.5em;
  font-family: "Liberation Mono", "Lucida Console", "Courier", monospace;
  color: #7f7f7f; }

.icinga-status .entry-comment {
  margin-top: 0.3em;
  color: #7f7f7f; }

.icinga-status .status-type {
  text-transform: uppercase; }

.icinga-status .status-box {
  border-left-width: 5px;
  border-left-style: solid; }

.icinga-status .host.host-down.unacknowledged .status-box, .icinga-status .service.service-critical.unacknowledged .status-box {
  background-color: #ff5566;
  border-left-color: #ff5566;
  color: #ffffff; }

.icinga-status .host.host-down.acknowledged .status-box, .icinga-status .service.service-critical.acknowledged .status-box {
  border-left-color: #ff99aa;
  color: #000000; }

.icinga-status .host.host-warning.unacknowledged .status-box, .icinga-status .service.service-warning.unacknowledged .status-box {
  background-color: #ffaa44;
  border-left-color: #ffaa44;
  color: #ffffff; }

.icinga-status .host.host-warning.acknowledged .status-box, .icinga-status .service.service-warning.acknowledged .status-box {
  border-left-color: #ffcc66;
  color: #000000; }

.icinga-status .host.host-unknown.unacknowledged .status-box, .icinga-status .service.service-unknown.unacknowledged .status-box {
  background-color: #aa44ff;
  border-left-color: #aa44ff;
  color: #ffffff; }

.icinga-status .host.host-unknown.acknowledged .status-box, .icinga-status .service.service-unknown.acknowledged .status-box {
  border-left-color: #cc77ff;
  color: #000000; }

.icinga-status .host.host-up .status-box, .icinga-status .service.service-ok .status-box {
  border-left-color: #44bb77;
  color: #000000; }

.service-matrix .host-header {
  vertical-align: bottom; }

.service-matrix .host-header, .service-matrix .host-name {
  width: 19.5em; }

.service-matrix .service-group-name {
  white-space: nowrap;
  height: 12em;
  padding: 0.3em 0.4em; }
  .service-matrix .service-group-name .rotator {
    transform: translate(0px, 10.5em) rotate(-45deg);
    width: 1em; }

.service-matrix tr.header {
  position: fixed; }

.service-matrix tr.spacing-row > td {
  padding-bottom: 12em; }

.service-matrix .host .host-warning {
  background-color: #ffaa44;
  color: #ffffff; }

.service-matrix .host .host-critical {
  background-color: #ff5566;
  color: #ffffff; }

.service-matrix .host .host-unknown {
  background-color: #aa44ff;
  color: #ffffff; }

.service-matrix .service-group-status {
  padding: 0;
  min-width: 1em;
  min-height: 1em; }

.service-matrix .service-group-status.service-group-critical {
  background-color: #ff5566; }

.service-matrix .service-group-status.service-group-warning {
  background-color: #ffaa44; }

.service-matrix .service-group-status.service-group-unknown {
  background-color: #aa44ff; }

.service-matrix .service-group-status.service-group-ok {
  background-color: #44bb77; }

.service-matrix .service-group-status .service-count {
  display: none; }
